:root {
  --bg-p: black;
  --bg-s: black;
  --glassy-bg: rgba(0, 0, 0, 0.3);
  --lighter-glassy-bg: rgba(0, 0, 0, 0.2);
  --hover-entry-p: black;
  --hover-entry-s: black;
  --entry-p: black;
  --entry-s: black;
  --focused-entry-p: black;
  --focused-entry-s: black;
  --header-text: black;
  --focused-entry-text: black;
}

* {
  font-family: Inter, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 200;
  box-sizing: content-box;
  color: var(--header-text);
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: linear-gradient(-45deg, var(--bg-s), var(--bg-p));
}

#grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}

.column,
.header {
  background: linear-gradient(0deg, var(--glassy-bg), var(--lighter-glassy-bg));
}

.column {
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.header {
  height: 2rem;
  font-size: 1.2rem;
  padding-top: 0.3rem;

  margin-bottom: 2px;
  padding-left: 5px;
}

.entry:hover {
  background: linear-gradient(
    180deg,
    var(--hover-entry-p),
    var(--hover-entry-s)
  );
}

.entry {
  background: linear-gradient(180deg, var(--entry-p), var(--entry-s));
  color: var(--entry-text);
  text-shadow: black 1px 1px 2px;
  border-radius: 5px;
  text-align: center;
  padding: 3px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 400;
}

.focused {
  background: linear-gradient(
    0deg,
    var(--focused-entry-p),
    var(--focused-entry-s)
  );
  color: var(--focused-entry-text);
}
